nav{
  background-color: white;
}

.encabezado{
  margin: 0;
  padding: 0;
}

.intro {
  background-image: url(../assets/images/taxi.jpg);
  height: 120vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
  margin: 0;
  padding: 0;
  float: left;
}

#intro-cuadro{
  margin-top: 10%;
  padding-right: 0px;
}

#col-intro, #panel-trans{
  padding-right: 0px;
}

#card-intro{
  height: 60vh;
}

.horizontal{
  padding:2%;
  border: solid 1px;
  border-color: white;
}

.back-yellow{
  background-color:#ffab00;
  text-align: center;
  padding: 0;
  margin: 0;
}

.panel{
  background-color:#ffab00;
  margin: 20px;
}

.card-content{
  text-align: justify;
  border-color: white;
}

.conductor,.conductor-2 {
  background-image: url(../assets/images/conduce.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:70% bottom;
  margin: 0;
  padding: 0;
}

.form{
  padding:10%;
  text-align: justify;
}

#input-1,#input-2{
  border: 1px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn{
  border-radius: 5px;
  margin:5% 0;
}

#enlaces{
  margin-top: 12%;
}

#enlaces >img{
  width: 50%;
}

.page-footer{
  background-color: #212121;
}

.ico{
  margin: 0px;
}

.msg{
  margin-bottom:0px;
}

.mar-top{
  margin-top: 0px;
}

#btn-ruta{
  text-align: center;
}

::placeholder {
  color:#fff;
}

p{
  font-size: 17px;
}

.conductor-2{
  display: none;
}

@media only screen and (max-width:993px){
  .conductor{
    display: none;
  }
  .conductor-2{
    display: inline-block;
  }
  .ubicacion{
    width: 100%;
  }
}
